<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<%= link_to 'Edit', edit_dog_note_path(@note.dog, @note) %> |
<%= link_to 'Back', dog_notes_path(@note.dog) %>
