<h2>Services</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Daily Pack Walks</h3>
    </div>
    <div class="panel-body">
        Your dog will learn to walk in a heel, learn patience and basic commands (Sit, Down, Stay and Recall), while being analyzed and corrected for behavioral issues that concern you.
        <ul>
            <li>Daily Pack Walks are a minimum of one hour in length</li>
            <li>Structured obedience walks with playtime</li>
            <li>We face everyday challenges on each walk such as loud playgrounds, busy streets, squirells, birds and fences with excited dogs on the other side, to help your dog learn to walk with calm, confidence</li>
            <li>Your dog will learn to listen, obey basic commands and heel</li>
        </ul>
        <strong>Prices</strong>
        <ul style="margin-left: 2em;">
            <li>$20.00 per day</li>
            <li>$15.00 for each additional family dog</li>
            <li>Pick up and or Drop off can be added for $5</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">All Day Outdoor Adventures</h3>
    </div>
    <div class="panel-body">
        We will look after your little K-9 buddy while you are at work or play.
        <ul>
            <li>Includes Daily Pack Walks</li>
            <li>Outdoor Adventure Hike</li>
            <li>Structured social time</li>
            <li>Obedience training: Fixing unwanted behaviors and encouraging pleasent ones, Including the commands Sit, Down, Stay and Recall</li>
            <li>Help your puppy become attentive and listen</li>
            <li>At home training is as equally important as out on the walk</li>
        </ul>
        <strong>Prices</strong>
        <ul style="margin-left: 2em;">
            <li>$30.00 per day</li>
            <li>$20.00 for each additional family dog</li>
            <li>Pick up and or Drop off can be added for $5</li>
            <li>Daycare longer than 9 hours is an additional $10</li>
        </ul>
    </div>
</div>

<div class="panel panel-default hidden">
    <div class="panel-heading">
        <h3 class="panel-title">Sleep Over (Vacations)</h3>
    </div>
    <div class="panel-body">
        Your K-9 buddy will get to have sleep overs with their best puppy friends, while we maintain consistent obedience work with you pup!
        <ul>
            <li>Includes Daily Pack Walks</li>
            <li>Structured social time</li>
            <li>Obedience training: Fixing unwanted behaviors and encouraging pleasent ones, Including the commands Sit, Down, Stay and Recall</li>
            <li>Help your puppy become attentive and listen</li>
            <li>All dogs sleep in the same room as the handler. They learn to sleep quietly through the night on dog beds near the bed of the handler</li>
        </ul>
        <strong>Prices</strong>
        <ul style="margin-left: 2em;">
            <li>$40.00 per night (check in before 5pm, checkout by 12pm *)</li>
            <li>$30.00 for each additional family dog</li>
            <li>$50.00 per 24 hours for long weekends and holidays</li>
            <li>Pick up and or drop off can be added for $5</li>
            * please note: any pickups after 12pm are considered daycare
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Coaching</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>One on one expert dog assistance to help YOU become your own dog trainer and handler</li>
            <li>Shape pleasent behaviors and get rid of unwanted ones</li>
            <li>Learn to get and keep your dogs attention in different situations</li>
            <li>Learn key tricks of the trade such as timing and consistency</li>
            <li>Nurture your bond and communication with your dog</li>
            <li>Learn to be present and further your understanding of the calming powers of Zen</li>
            <li>Understand the significance of the term "Pack Leader" and become one</li>
        </ul>
        <strong>$150.00 per 1.5 - 2 Hour Sessions (Please allow for more time if needed)</strong>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        By nature dogs are pack animals. They are instinctual followers and require a calm/assertive pack leader to remain balanced and at ease. We must be 100% consistent with our dogs 100% of the time for them to view us as the pack Leader. Dogs understand the language of energy and Zen is the practice of experiencing life as energy. Positive energy always gives positive results.
    </div>
</div>
