<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <strong>zendogz contact form message from, <%= @from %></strong>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
