<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Coaching</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>One on one expert dog assistance to help "YOU" become your own dog trainer and handler</li>
            <li>Shape pleasent behaviors and get rid of unwanted ones</li>
            <li>Learn to get and keep your dogs attention in different situations</li>
            <li>Learn key tricks of the trade such as timing and consistency</li>
            <li>Nurture your bond and communication with your dog</li>
            <li>Learn to be present and further your understanding of the calming powers of Zen</li>
            <li>Understand the significance of the term "Pack Leader" and become one</li>
        </ul>
        <strong>$120.00 per 1.5 - 2 Hour Sessions (Please allow for more time if needed)</strong>
    </div>
</div>

<h1>available courses</h1>

<%= render @courses %>

<% if policy(Course).create? %>
    <%= link_to 'New Course', new_course_path, class: 'btn btn-primary' %>
<% end %>
