/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.nav {
    margin-top: 28px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}

footer {
    padding: 30px 0;
}

.input-group {
    margin-bottom: 1.2em;
}

/*
 ************************************************
 nav bar
 ************************************************
 */
ul, li {
    margin: 0; padding: 0;
}

#blob {
    //border-right: 1px solid #0059ec;
    //border-left: 1px solid #0059ec;
    position: absolute;
    top: 0;
    z-index : 1;
   /*
    background: #0b2b61;
    background: -moz-linear-gradient(top, #0b2b61, #1153c0);
    background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
    background: -moz-linear-gradient(top, #0b2b61, #1153c0);
    background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 2px 3px 10px #011331;
    -webkit-box-shadow: 2px 3px 10px #011331;
    */
    background: #ff9933;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(40%,#f45d00), color-stop(100%,#ff9933));
    background: -webkit-linear-gradient(-45deg, #f45d00 40%, #ff9933 100%);
    background: -moz-linear-gradient(-45deg, #f45d00 40%, #ff9933 100%);
    background: -o-linear-gradient(-45deg, #f45d00 40%, #ff9933 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

#nav {
    position: relative;
    background: #333;
    float: left;
}

#nav li {
    float: left;
    list-style: none;
    border-right: 1px solid #4a4a4a;
    border-left: 1px solid black;
}

#nav li a {
    color: #e3e3e3;
    position: relative;
    z-index: 2;
    float: left;
    text-decoration: none;
    padding: 10px 15px;
}