/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html {
    min-height: 100%;
}

body {
    background: url(image-path('grass.png')) repeat-x bottom center, -moz-linear-gradient(top,  #ffffff 0%, #f4d7a1 100%); /* FF3.6+ */
    background: url(image-path('grass.png')) repeat-x bottom center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4d7a1)); /* Chrome,Safari4+ */
    background: url(image-path('grass.png')) repeat-x bottom center, -webkit-linear-gradient(top,  #ffffff 0%,#f4d7a1 100%); /* Chrome10+,Safari5.1+ */
    background: url(image-path('grass.png')) repeat-x bottom center, -o-linear-gradient(top,  #ffffff 0%,#f4d7a1 100%); /* Opera 11.10+ */
    background: url(image-path('grass.png')) repeat-x bottom center, -ms-linear-gradient(top,  #ffffff 0%,#f4d7a1 100%); /* IE10+ */
    background: url(image-path('grass.png')) repeat-x bottom center, linear-gradient(to bottom,  #ffffff 0%,#f4d7a1 100%); /* W3C */
}

#header img {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.3);
}

#header p {
    font-size: .8em;
    font-color: #000;
}

footer {
    padding: 30px 0 80px 0;
}

.input-group {
    margin-bottom: 1.2em;
}

/*
 ************************************************
 nav bar
 ************************************************
 */
ul, li {
    margin: 0; padding: 0;
}

#blob {
    position: absolute;
    top: 0;
    z-index : 1;
    background: #ff9933;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(40%,#f45d00), color-stop(100%,#ff9933));
    background: -webkit-linear-gradient(-45deg, #f45d00 40%, #ff9933 100%);
    background: -moz-linear-gradient(-45deg, #f45d00 40%, #ff9933 100%);
    background: -o-linear-gradient(-45deg, #f45d00 40%, #ff9933 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

#nav-links {
    position: relative;
    float: left;
}

#nav-links li {
    float: left;
    list-style: none;
}

#nav-links li a {
    position: relative;
    z-index: 2;
    float: left;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar-header .navbar-brand { padding: 0px; }

#nav-links { margin-top: 1em; }

#nav-admin { margin-top: .6em; }

#nav-profile{ margin-top: .6em; }

#bs-example-navbar-collapse-1 {
    padding-bottom: 10px;
}
