// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#course-description ul {
  margin-left: 1em;
  margin-bottom: 1em;
}

#course-schedule ul {
  margin-left: 1em;
  margin-bottom: 1em;
}
