// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li.list-star {
  list-style: none;
  margin-left: -14px;
}
li.list-star:before {
    content: "*";
    font-weight: bold;
    color: red;
    padding-right: 8px;
}