


<%= simple_form_for(@testimonial) do |f| %>

    <div class="form-group">
        <%= f.input :from %>
    </div>

    <div class="form-group">
        <%= f.input :body %>
    </div>

    <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>